body {background-color: lightblue;
color:white;
text-align: center;



}
.btn-primary { color:hotpink}

h1 {color: hotpink;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

.button-primary{

    text-align: center;


}

